/*  your css code here. If applicable */
body{
	background:rgb(204, 204, 204);
}
.playlist{
 box-sizing: border-box;
  width: 550px;
  height: 150px;
  overflow: none;
  background-color: white;
  border-color:black;
  }
#ok{
	  border-color:black;
}
.playlist>ul{
	text-align:center;
}
